body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0b1220;
    color: white;
}

/* NAV */
nav {
    background: #111827;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    margin: 15px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

nav a:hover {
    color: #38bdf8;
}

/* HEADER */
header {
    text-align: center;
    padding: 30px;
}

header h1 {
    color: #38bdf8;
    font-size: 40px;
}

/* BOX */
.box {
    background: #111827;
    width: 320px;
    margin: 70px auto;
    padding: 25px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.4);
    animation: fadeIn 0.7s ease;
}

/* INPUT */
input {
    width: 90%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 10px;
    border: none;
    outline: none;
}

/* BUTTON */
button {
    width: 95%;
    padding: 12px;
    background: #38bdf8;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.05);
    background: #0ea5e9;
}

/* PRODUCTS */
.products {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
}

/* CARD */
.card {
    background: #111827;
    width: 220px;
    border-radius: 15px;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 10px 20px rgba(0,0,0,0.4);
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(56,189,248,0.3);
}

.card img {
    width: 100%;
    height: 160px;
    object-fit: cover;
}

.card h3 {
    padding: 10px;
}

/* ERROR */
#error {
    color: red;
    display: none;
}

/* ANIMATION */
@keyframes fadeIn {
    from {opacity: 0; transform: translateY(20px);}
    to {opacity: 1; transform: translateY(0);}
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .box {
        width: 85%;
    }

    .products {
        flex-direction: column;
        align-items: center;
    }
}